<%- include('../layouts/user/header.ejs') %>
<div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
style="background-image: url('userAssets/images/backgrounds/243303-monochrome-black-and-white-and-football-hd.jpg')">
<div class="container">
    <div class="form-box">
        <div class="form-tab">



            <!-- <div class="tab-content"> -->
            <div class="tab-pane fade show active" id="signin-2" aria-labelledby="signin-tab-2">
                <div>
                    <h3>RESET/CHANGE  PASSWORD</h3>
                </div>
                <form action="/changePassword" method="post">
                    
                
                    <div class="form-group">
                        <label for="singin-password-2">Password *</label>
                        <input type="password" class="form-control" id="singin-password-2" name="password"
                            required>
                            <input type="hidden" name="user_id" value="">
                    </div><!-- End .form-group -->
                    <div class="form-group">
                        <label for="singin-password-2">confirm Password *</label>
                        <input type="password" class="form-control" id="singin-password-2" name="confPassword"
                            required>
                            <input type="hidden" name="user_id" value="">
                    </div><!-- End .form-group -->
                    <!-- <div class="form-group">
                        <label for="singin-password-2">mobile*</label>
                        <input type="text" class="form-control" id="singin-password-2" name="mobile" required> -->
                    <!-- </div>End .form-group -->
                    <% if(typeof message !=='undefined' ){ %>
                        <p style="color: rgb(226, 7, 7); text-align: center;">
                          <%= message %>
                        </p>
                        <% } %>

                    <div class="form-footer " >
                        <button type="submit" value="Reset password" class="btn btn-outline-primary-2">
                            <span>SUBMIT</span>
                            <i class="icon-long-arrow-right"></i>
                        </button>


                    </div><!-- End .form-footer -->
                    
                </form>

            </div><!-- .End .tab-pane -->

        </div><!-- End .form-tab -->
    </div><!-- End .form-box -->
</div><!-- End .container -->
</div><!-- End .login-page section-bg -->
</main><!-- End .main --