<footer class="footer mt-auto">
    <div class="copyright bg-white">
        <p>
            Copyright &copy; <span id="ec-year"></span><a class="text-primary"
            href="https://themeforest.net/user/ashishmaraviya" target="_blank"> Ekka Admin Dashboard</a>. All Rights Reserved.
          </p>
    </div>
</footer>

</div> <!-- End Page Wrapper -->
</div> <!-- End Wrapper -->

<!-- Common Javascript -->
<script src="/adminAssets/plugins/jquery/jquery-3.5.1.min.js"></script>
<script src="/adminAssets/js/bootstrap.bundle.min.js"></script>
<script src="/adminAssets/plugins/simplebar/simplebar.min.js"></script>
<script src="/adminAssets/plugins/jquery-zoom/jquery.zoom.min.js"></script>
<script src="/adminAssets/plugins/slick/slick.min.js"></script>

<!-- Chart -->
<script src="/adminAssets/plugins/charts/Chart.min.js"></script>
<script src="/adminAssets/js/chart.js"></script>

<!-- Google map chart -->
<script src="/adminAssets/plugins/charts/google-map-loader.js"></script>
<script src="/adminAssets/plugins/charts/google-map.js"></script>

<!-- Date Range Picker -->
<script src="/adminAssets/plugins/daterangepicker/moment.min.js"></script>
<script src="/adminAssets/plugins/daterangepicker/daterangepicker.js"></script>
<script src="/adminAssets/js/date-range.js"></script>

<!-- Option Switcher -->
<script src="/adminAssets/plugins/options-sidebar/optionswitcher.js"></script>

<!-- Ekka Custom -->
<script src="/adminAssets/js/ekka.js"></script>
</body>


<!-- Mirrored from loopinfosol.in/themeforest/ekka-html-v33/ekka-admin/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 08 Jan 2023 23:28:28 GMT -->
</html>