
<body class="ec-header-fixed ec-sidebar-fixed ec-sidebar-light ec-header-light" id="body">

	<!--  WRAPPER  -->
	<div class="wrapper">
		
		<!-- LEFT MAIN SIDEBAR -->
		<div class="ec-left-sidebar ec-bg-sidebar">
			<div id="sidebar" class="sidebar ec-sidebar-footer">

				<div class="ec-brand">
					<a href="index.html" title="Ekka">
						<img class="ec-brand-icon" src="adminAssets/img/logo/ec-site-logo.png" alt="" />
						<span class="ec-brand-name text-truncate">Ekka</span>
					</a>
				</div>

				<!-- begin sidebar scrollbar -->
				<div class="ec-navigation" data-simplebar>
					<!-- sidebar menu -->
					<ul class="nav sidebar-inner" id="sidebar-menu">
						<!-- Dashboard -->
						<li class="active">
							<a class="sidenav-item-link" href="/admin/dashboard">
								<i class="mdi mdi-view-dashboard-outline"></i>
								<span class="nav-text">Dashboard</span>
							</a>
							<hr>
						</li>

						<!-- category -->
						<li class="has-sub">
							<a class="sidenav-item-link" href="/admin/category">
								<i class="mdi mdi-account-group-outline"></i>
								<span class="nav-text">Add Category</span> 
							</a>
							
							
						</li>

						<!-- Users -->
						<li class="has-sub">
							<a class="sidenav-item-link" href="/admin/userList">
								<i class="mdi mdi-account-group"></i>
								<span class="nav-text">User List</span> 
							</a>
							
					</li>
				
						<!-- Category -->
						<li class="has-sub">
							<a class="sidenav-item-link" href="/admin/productList">
								<i class="mdi mdi-dns-outline"></i>
								<span class="nav-text">Product List</span> 
							</a>
							
						</li>

						<!-- Products -->
						<li class="has-sub">
							<a class="sidenav-item-link" href="javascript:void(0)">
								<i class="mdi mdi-palette-advanced"></i>
								<span class="nav-text">Add Adds</span>
							</a>
							
						</li>

						<!-- Orders -->
						<li class="has-sub">
							<a class="sidenav-item-link" href="javascript:void(0)">
								<i class="mdi mdi-cart"></i>
								<span class="nav-text">Orders</span>
							</a>
							
						</li>

						<!-- Reviews -->
						<li>
							<a class="sidenav-item-link" href="review-list.html">
								<i class="mdi mdi-star-half"></i>
								<span class="nav-text">Add Coupons</span>
							</a>
						</li>

						<!-- Brands -->
						
						<!-- Authentication -->
					

						

						<!-- Other Pages -->
						
					</ul>
				</div>
			</div>
		</div>
	</div>	